@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font: normal 12px "Open Sans";
	padding: 20px;
	margin: 0;
}

pre.prettyprint {
	border: solid 1px #ccc !important;
	border-radius: 3px;
	background: #f8f8f8;
	padding: 10px !important;
	clear:both;
	margin: 20px 0;
}
	
p,
nav {
	clear: left;
}	

#billboard3 {
	max-height: 200px;
}